# Common
*/.idea
*/.env
*/dist
*/node_modules
*/coverage
*/npm-debug.log*
*/yarn-debug.log*
*/yarn-error.log*
*__generated__*

# Frontend
veriguard-front/config/development.json
veriguard-front/.DS_Store
veriguard-front/.env.local
veriguard-front/.env.development.local
veriguard-front/.env.test.local
veriguard-front/.env.production.local

# API
veriguard-api/coverage
veriguard-api/logs
