HELP.md
*.bat
**/application-dev.properties
.superpowers/
target/
!veriguard-front/src/utils/target/
!**/src/main/**/target/
!**/src/test/**/target/
logs/**
veriguard-dev/.env
veriguard-dev/.telemetry.json

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/.claude/
